$primary_color: rgba(57, 205, 204, 1);
$text_color: rgba(84, 95, 125, 1);
$dark_text_color: rgba(33, 63, 125, 1);
$grey_text_color: rgba(84, 95, 125, 1);
$grey_text_color_alt: #7a8cb1;
$text_bg_light: #f6fdfd;
$border_color: rgba(84, 95, 125, 0.15);
$white: #ffffff;
$bg_color: #fbfbfb;
$box_shadow: rgb(219, 217, 217);
$black: #000000;
